.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;
}

.swiftBtn{
  width: 40%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: #aba5d4;
box-shadow:  9px 9px 18px #6f6b8a,
             -9px -9px 18px #e7dfff;
  height: 80px;
  border-radius: 20px;
  align-items: center;
}

.button{
  /* color: white; */
  font-weight: 600;
  font-family: cursive;
  font-size: 26px;
  border: none;
  background-color: #aba5d4;
  padding: 10px 30px;
}



.swiftBtn button{
  width: 30%;
  border-radius: 20px;
}

.active{
  background-color: #9084df;

}

.login{
  padding: 20px;
  width: 40%;
  /* height: 70%; */
  border-radius: 47px;
background: #aba5d4;
box-shadow:  9px 9px 18px #6f6b8a,
             -9px -9px 18px #e7dfff;
}



.main{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 143px;
  justify-content: space-between;
}

.booksDesign{
  width: 30%;
  margin-top: 50px;
}

.booksContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.booksContainer div{
  width: 45%;
  padding: 5%;
  height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:  9px 9px 18px #6f6b8a,
             -9px -9px 18px #e7dfff;
}

.avaliableBooks{
  width: 100%;
  padding: 5%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 150px;
  box-shadow:  9px 9px 18px #6f6b8a,
             -9px -9px 18px #e7dfff;
}

.main h1{
  color: #5c49db;
  text-align: center;
}

.table{
  border-collapse: collapse;
}

.table td{
  border-collapse:collapse;
  border:1px solid #dddddd;
}

.table td{
  width: 28%;
  padding: 15px 10px;
}

.table th{
  /* color: #5c49db; */
  padding: 15px 10px;
  text-align: left;
  border-collapse:collapse;
  border:1px solid #dddddd;
}

.login{
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  font-family: cursive;
  /* width: 100%; */
  /* justify-content: center;*/
  align-items: center; 
}

.login h1{
  color:#3f386b;
  font-size: 40px;
}

.login button,.login input,.login label{
  display: block;
}

.login label{
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 15px;
}

.login input{
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px;
  width: 70%;
  margin-bottom: 40px;
  font-size: 26px;
}

.login button{
  padding: 0.25rem 1.5rem;
  font-size: 24px;
  font-weight: 600;
  font-family: cursive;
  background: #aba5d4;
  border: 3px solid white;
  border-radius: 1000px;
}

.login button:hover{
  background: #948bd3;
}